*{
  box-sizing:border-box;
}
body{
  padding:0;
  margin:0;
  display: flex;
  min-height:100vh;
  flex-direction:column;
}
div{
  text-align:center;
}
.header{
  background: #000000;
  height:70px;
}
.footer {
  background: #000000;
  height:30px;
}
.main{
  flex: 1;
}
.board{
 margin: 0 auto;
 width: 70vh;
 height: 70vh;
}
.square{
/* background: url('backImage.jpg'); */
  background:white;
  background:cover;
  width:32%;
  height:32%;
  display:inline-block;
  border:4px solid black;
  margin:-1px 1px;
}

.square1, .square2, .square0{
  border-top:0;
}
.square2{
  border-right:0;
}
.square0, .square3, .square6{
  border-left:0;
}
.square5, .square8{
  border-right:0;
}
.square7, .square8, .square6{
  border-bottom:0;
}
